{{define "main"}}
<header>{{template "navbar" .}} </header>
<div class="home-div">
<div class="home-grid">
    <div class="home-grid-item">
        <div class="home-grid-item-content">
            <h3>Мои Тесты</h3>
        </div>
        <img src="/static/png/MyTestPng.png">
    </div>

</div>
{{end}}

