{{define "main"}}
<div class="signup-container">
    <h2 class="signup-container-title">Sign In</h2>
    <form class="input-icons" action="/signIn" method="post">
        <div class="input-field-holder">
            {{with .Form.Validator.Errors.NotFound}}
            <label class="input-error" >{{.}}</label>
            {{end}}
            <div>
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" name="email" type="text" placeholder="Email..." value='{{.Form.Email}}'>
            </div>
        </div>
        <div class="input-field-holder">
            {{with .Form.Validator.Errors.PasswordIncorrect}}
            <label class="input-error">{{.}}</label>
            {{end}}
            <div>
                <i class="fa fa-key icon" aria-hidden="true"></i>
                <input class="input-field" name="password" type="password" placeholder="password...">
            </div>
        </div>
        <button type="submit" class="signup-btn" >Sign In</button>
    </form>
</div>
        {{end}}

