{{define "main"}}
<div class="signup-container">
    <h2 class="signup-container-title">Sign up</h2>
    <form class="input-icons" action="/signUpTeacher?userId={{.AuthData.Id}}" method="post">
        <div class="input-field-holder">
            <h3>Hello dear {{.Form.Username}}, in order to create your account change password please</h3>
            {{with .Form.Validator.Errors.password}}
            <label class="input-error">{{.}}</label>
            {{end}}
            <div>
                <i class="fa fa-key icon" aria-hidden="true"></i>
                <input class="input-field"  name="password" type="password" placeholder="Password...">
            </div>
        </div>
        <div class="input-field-holder">
            {{with .Form.Validator.Errors.repeatPassword}}
            <label class="input-error">{{.}}</label>
            {{end}}
            <div>
                <i class="fa fa-key icon" aria-hidden="true"></i>
                <input class="input-field" name="repeatPassword" type="password" placeholder="Repeat password...">
            </div>
        </div>
        <button type="submit" class="signup-btn" >Sign Up</button>
        <a class="reference" href="/signIn">Already have an account?</a>
        <a class="reference" href="/signUp">I am student</a>
    </form>
</div>
        {{end}}

