{{define "main"}}
<div class="admin-panel">
    <div class="add-teacher-panel">
        <form>
            <h3>Invite a teacher to application</h3>
            <div>
                <input type="email" placeholder="email">
            </div>
            <div>
                <input type="text" placeholder="name">
            </div>
            <div>
                <input type="text" placeholder="surname">
            </div>
            <button type="button">Invite</button>
        </form>
    </div>
</div>


{{end}}