{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <link rel="stylesheet" href="">
    <meta charset='utf-8'>
    <title>testApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css?v=4">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css?v=1">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css?v=1">
    <link rel="stylesheet" type="text/css" href="/static/css/test.css?v=3">

</head>
<body>
<main>
    {{template "main" .}}
</main>
<footer>Powered by <a href='https://golang.org/'>Go</a></footer>
<script src="/static/js/template.js"></script>
<script src="/static/js/Question.js"></script>
<script src="/static/js/test-creation.js"></script>


</body>
</html>
        {{end}}