{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <link rel="stylesheet" href="">
    <meta charset='utf-8'>
    <title>testApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/registration.css">
</head>
<body>
<main>
    {{template "main" .}}
</main>
<footer>Powered by <a href='https://golang.org/'>Go</a></footer>
</body>
</html>
        {{end}}